<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    临时页面
    <p id="lkz"></p>
</body>
<script>
    const id = localStorage.getItem('id');
    const nickname = localStorage.getItem('nickname');
    const information = "欢迎"+id+"号，"+nickname;
    console.log(information);
    var lkz=  document.getElementById('lkz');
    lkz.innerText = information;
</script>
</html>