<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* CSS样式 */
    .todo-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .todo-item .actions {
      display: flex;
      gap: 5px;
    }
    .modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(88, 90, 90);
      padding: 20px;
      border-radius: 30px;
      box-shadow: 0 10px 8px rgba(26, 24, 35, 0.4);
      width: 40%;
      /* height: fit-content; */
    }
    .notification {
      position: fixed;
      top: 8%;
      left: 50%;
      transform: translate(-50%, -60%);
      background-color: #70b09c;
      padding: 10px 20px;
      border-radius: 30px;
      box-shadow: 0 10px 8px rgba(26, 24, 35, 0.4);
      visibility: hidden;
    }
    .add-item-btn {
      padding: 5px 10px;
      font-size: 12px;
      background-color: #70b09c;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s;
    }

    .add-item-btn:hover {
      background-color: #5a917a;
    }
    hr {
      border: none;
      height: 1px;
      background-color: #ccc;
      margin: 20px 0;
    }
  </style>
</head>
<body>

  <div id="user-info">
    <!-- 欢迎XXX -->
  </div>
  <button id="add-item-btn" onclick="func_visibleItemModal(1)" class="add-item-btn">添加事项</button>
  <button onclick="func_visibleItemModal(3)" class="add-item-btn">修改昵称</button>
  <hr>

  <!-- 修改或添加事项弹窗:点击按钮则显示此div -->
  <div id="edit-item-modal" class="modal" style="visibility: hidden;">
    <input type="text" id="edit-item-content" style=" width: 100%;">
    <button id="edit-item-submit" style="margin-left: 30%;width: 20%;">提交</button>
    <button onclick="func_visibleItemModal(0)" style="width: 20%;">取消</button>
  </div>

  <div id="todo-list">
    <!-- 待办事项列表 -->
  </div>

  <div id="notification" class="notification"></div>

  <!-- JavaScript代码 --------------------------------------------------------------------------->
  <script>
    // 获取DOM元素
    const userInfoElement = document.getElementById('user-info');//欢迎信息
    const addItemBtn = document.getElementById('add-item-btn');//添加事项按钮
    const todoListElement = document.getElementById('todo-list');
    const addItemModal = document.getElementById('add-item-modal');
    const addItemSubmitBtn = document.getElementById('add-item-submit');
    const editItemModal = document.getElementById('edit-item-modal');//浮动编辑窗口
    const editItemContentInput = document.getElementById('edit-item-content');//浮动编辑内容
    const editItemSubmitBtn = document.getElementById('edit-item-submit');//浮动提交按钮

    // 显示用户信息和待办事项列表
    const userid = localStorage.getItem('userid');
    const nickname = localStorage.getItem('nickname');
    const welcomeInformation = "欢迎用户，"+nickname;
    userInfoElement.textContent = welcomeInformation;
    func_getItems();

    //函数：发送请求获取事项数据并刷新
    function func_getItems(){
      const formData = new FormData();
      formData.append('userid', localStorage.getItem('userid'));
      fetch("/userpro/getitems", {
          method:'POST',
          body:formData,
      }).then(response =>{
          //此处获取返回的事项数据，可以进行渲染renderTodoList()
          response.json().then(data =>{
              // console.log(data.items);
              renderTodoList(data.items);
          })
      })
    }

    // 渲染待办事项列表的函数
    function renderTodoList(items) {
      todoListElement.innerHTML = '';
      items.forEach(item => {
        // 创建待办事项元素
        const todoItemElement = document.createElement('div');
        todoItemElement.classList.add('todo-item');
        // 设置待办事项样式属性
        todoItemElement.style.backgroundColor = 'lightblue';
        todoItemElement.style.border = '2px solid gray';
        todoItemElement.style.height = 'auto';
        todoItemElement.style.minHeight  = '45px'
        // 暂时保存该事项对应的唯一Id!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!用于执行删除、修改、完成操作，该div需要隐藏
        const itemId = item.Id;
        const itemIdElement = document.createElement('span');
        itemIdElement.textContent = itemId;
        itemIdElement.style.visibility = "hidden";
        // 创建任务内容元素
        const contentElement = document.createElement('text');
        contentElement.textContent = item.Content;
        contentElement.style.width = '50%';
        // 创建创建时间元素
        const br = document.createElement('br');
        const createdElement = document.createElement('div');
        //修改优化时间类型  2023-10-05T16:09:02.427+08:00  =>  2023-10-05 16:09
        createdElement.textContent = "创建时间：" + item.CreateTime.slice(0, 16);
        // 创建完成状态元素
        const completedElement = document.createElement('p');
        completedElement.textContent = item.State ? '已完成' : '未完成';
        todoItemElement.style.backgroundColor = item.State? 'white':'lightblue'

        // 创建修改按钮
        const editButton = document.createElement('button');
        editButton.onclick = button_func_changeContent;
        editButton.textContent = '修改';
        // 创建删除按钮
        const deleteButton = document.createElement('button');
        deleteButton.onclick = button_func_deleteItem;
        deleteButton.textContent = '删除';
        // 创建完成按钮
        const completeButton = document.createElement('button');
        completeButton.onclick = button_func_changeItemState;
        completeButton.textContent = '完成';

        // 将隐藏编号、任务内容、创建时间、完成状态和操作按钮容器添加到待办事项元素中
        todoItemElement.appendChild(itemIdElement);
        todoItemElement.appendChild(contentElement);
        todoItemElement.appendChild(br);
        todoItemElement.appendChild(createdElement);
        todoItemElement.appendChild(completedElement);
        // todoItemElement.appendChild(actionsElement);
        todoItemElement.appendChild(editButton);
        todoItemElement.appendChild(deleteButton);
        todoItemElement.appendChild(completeButton);
        // 将待办事项元素添加到待办事项列表中
        todoListElement.appendChild(todoItemElement);
      });
    }

    //按钮函数编写===================================================================================
    // 打开/关闭事项弹窗
    function func_visibleItemModal(tag){
      switch (tag){
        case 0:
          editItemModal.style.visibility = "hidden";
          editItemContentInput.value="";
          editItemContentInput.placeholder = "";
          break;
        case 1:
          //添加事项
          editItemSubmitBtn.onclick = func_submitItem;
          editItemModal.style.visibility = "visible";
          break;
        case 2:
          //修改事项内容
          //先设置浮动输入框为原本内容
          //设置提交按钮要执行的逻辑
          break;
        case 3:
          //修改昵称
          editItemSubmitBtn.onclick = func_changeNickname;
          editItemModal.style.visibility = "visible";
          break;
        case 4:
          //
          break;
        default:
          alert('系统出错');
      }
    }

    // 函数：提交添加事项
    function func_submitItem(){
      // console.log(editItemContentInput.value);
      const formData = new FormData();
      formData.append('userid', localStorage.getItem('userid'));
      formData.append('content', editItemContentInput.value);
      fetch("/userpro/additem", {
        method:'POST',
        body:formData,
      }).then(response =>{
        //添加事项
        if(response.status===200){
          console.log('添加成功');
          editItemContentInput.value = "";//清除输入框数据
          func_visibleItemModal(0);//关闭浮窗
          showNotification("添加成功", 2000);
          func_getItems();
        }else{
          alert("添加失败");
        }
      })
    }

    //函数：提交修改昵称
    function func_changeNickname(){
      const formData = new FormData();
      let temp_content = editItemContentInput.value
      formData.append('userid', localStorage.getItem('userid'));
      formData.append('content', temp_content);
      fetch("/userpro/changenickname", {
        method:'POST',
        body:formData,
      }).then(response=>{
        if(response.status===200){
          console.log('昵称修改成功');
          editItemContentInput.value = "";
          func_visibleItemModal(0);
          showNotification("昵称修改成功", 2000);
          userInfoElement.textContent = "欢迎用户, "+temp_content;
          localStorage.setItem('nickname', temp_content)
        }
        else{
          showNotification("修改失败",2000);
        }
      })
    }

    //函数：根据item.Id提交修改事项内容
    function button_func_changeContent(){
      //获取父级元素
      const todoItemElement = this.parentNode;
      //获取隐藏编号元素
      const itemIdElement = todoItemElement.querySelector('span');
      const itemId = itemIdElement.textContent;
      //获取任务内容元素
      const contentElement = todoItemElement.querySelector('text');
      const content = contentElement.textContent;

      //调出并设置浮动框
      editItemContentInput.value = content;
      editItemSubmitBtn.onclick = function(){
        const formData = new FormData();
        formData.append("itemId", itemId);
        formData.append("new_content", editItemContentInput.value);
        fetch("/userpro/changeitemcontent", {
          method:'POST',
          body:formData,
        }).then(response=>{
          if(response.status===200){
            showNotification("事项内容修改成功", 2000);
            func_getItems();
            func_visibleItemModal(0);
          }
          else{
            showNotification("事项内容修改失败", 2000);
            console.log('content change fail.');
          }
        })
      }
      editItemModal.style.visibility = "visible";
      //输出测试
      // console.log("按修改按钮")
      // console.log(itemId);
      // console.log(content);
    }

    //函数：根据item.Id删除事项
    function button_func_deleteItem(){
      //获取父级元素
      const todoItemElement = this.parentNode;
      //获取隐藏编号元素
      const itemIdElement = todoItemElement.querySelector('span');
      const itemId = itemIdElement.textContent;

      //调出并设置浮动框
      editItemContentInput.placeholder="直接点击提交即可删除";
      editItemSubmitBtn.onclick = function(){
        const formData = new FormData();
        formData.append("itemId", itemId);
        fetch("/userpro/deleteitem", {
          method:'POST',
          body:formData,
        }).then(response=>{
          if(response.status===200){
            showNotification("事项删除成功", 2000);
            func_getItems();
            func_visibleItemModal(0);
          }
          else{
            showNotification("事项内容删除失败", 2000);
            console.log('item delete fail.');
          }
        })
      }
      editItemModal.style.visibility = "visible";
      //输出测试
      // console.log("按修改按钮")
      // console.log(itemId);
      // console.log(content);
    }

    //函数：根据item.Id完成事项
    function button_func_changeItemState(){
      //获取父级元素
      const todoItemElement = this.parentNode;
      //获取隐藏编号元素
      const itemIdElement = todoItemElement.querySelector('span');
      const itemId = itemIdElement.textContent;

      //调出并设置浮动框
      editItemContentInput.placeholder="直接点击提交即可完成";
      editItemSubmitBtn.onclick = function(){
        const formData = new FormData();
        formData.append("itemId", itemId);
        fetch("/userpro/changestate", {
          method:'POST',
          body:formData,
        }).then(response=>{
          if(response.status===200){
            showNotification("事项已完成", 2000);
            func_getItems();
            func_visibleItemModal(0);
          }
          else{
            showNotification("提交失败", 2000);
            console.log('item over fail.');
          }
        })
      }
      editItemModal.style.visibility = "visible";
      //输出测试
      // console.log("按修改按钮")
      // console.log(itemId);
      // console.log(content);
    }


    // 函数:产生一个临时的提示信息
    function showNotification(message, duration) {
      const notification = document.getElementById('notification');
      notification.textContent = message;
      notification.style.visibility = 'visible';
      setTimeout(() => {
        notification.style.visibility = 'hidden';
      }, duration);
    }
  </script>
</body>
</html>
